/* Links */
a {
  transition: color 0.5s ease;
  color: #086996;
}

a:visited {
  color: #1478a6;
}

a:hover {
  color: #79bbda;
}

/* angle */

.angle::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 80px;
  -webkit-transform: skewY(-1.5deg);
  transform: skewY(-1.5deg);
  background-color: #fff;
  z-index: 100000;
}

/* footer */

.footer-content {
  margin-bottom: 0;
  padding: 7rem 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 34.8rem;
}

.footer-img {
  float: left;
  padding-right: 1.5rem;
}

.team {
  text-align: center;
}

/* media queries */

@media only screen and (max-width: 442px) {
  .footer-content {
    margin-left: 1rem;
  }
  .footer-img {
    float: none;
    margin-bottom: 7px;
    display: block;
  }
  .footer-contact {
    text-align: center;
    margin-left: 2.175rem;
  }
  .team {
    text-align: left;
  }
}