/* Links */
a {
  transition: color 0.5s ease;
  color: #086996;
}

a:visited {
  color: #1478a6;
}

a:hover {
  color: #79bbda;
}

/* angle */

.angle::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 125px;
  -webkit-transform: skewY(-1.5deg);
  transform: skewY(-1.5deg);
  background-color: #fff;
  z-index: 100000;
}